twitch:
  channelName: ${CHANNEL_NAME:overridetech}
  auth:
    botClientId: ${BOT_CLIENT_ID}
    botSecret: ${BOT_SECRET}
    moderationSecret: ${MODERATION_SECRET}
    moderationClientId: ${MODERATION_CLIENT_ID}
  song-list:
    songListUrl: ${SONG_LIST_URL:http://localhost:8080/songList/panel}
  security-config:
    adminName: ${ADMIN}
    adminPassword: ${ADMIN_PASSWORD}



telegram:
  mentorUsername: Marandyuk_Anatolii
  reviewBotHost: https://overridetech.ru/

spring:
  datasource:
    password: ${POSTGRES_PASSWORD}
    username: ${POSTGRES_USER}
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/${POSTGRES_DB:twitch_bot}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL81Dialect
        show_sql: false
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    generate-ddl: true

  profiles:
    active: ${SPRING_APPLICATION_PROFILE:dev}

feign:
  client:
    config:
      default:
        loggerLevel: full



chatGPT:
  API_KEY_Chat_GPT: Bearer ${API_KEY_Chat_GPT}
  URL:
    client: https://api.openai.com
    POST: /v1/chat/completions

donationAlerts:
  auth:
    clientId: ${DONATION_ALERTS_CLIENT_ID}
    secret: ${DONATION_ALERTS_SECRET}
    grantType: refresh_token
    url: https://www.donationalerts.com
    post: /oauth/token
  donations:
    url: https://www.donationalerts.com
    post: /api/v1/alerts/donations?last
    indexConvertingKindness: 10

youtube:
  auth:
    clientId: ${YOUTUBE_CLIENT_ID}
    secret: ${YOUTUBE_SECRET}
  channel:
    id: ${YOUTUBE_CHANNEL_ID}
  apiKey: ${YOUTUBE_API_KEY}

schedule:
  periodEvaluationKindness: 90000
  periodValidateConnection: PT01H
  periodSendExecutedCommandsByTime: 380000
  periodAddKindnessForDonat: 60000
  allowedTimeIntervalInMinutes: 20
  periodSendYoutubeShorts: 600000
