name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_push_image:
    name: Push image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Build and Push to DockerHub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: mabalda/twitch-chat-bot-twitch-bot-app:latest
  
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build_and_push_image]
    steps:
      - name: Connect with SSH and Deploy
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: v1570779.hosted-by-vdsina.ru
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            echo DB_USER = ${{ secrets.DB_USER }} > twitch-env.txt
            echo DB_PASSWORD = ${{ secrets.DB_PASSWORD }} >> twitch-env.txt
            echo BOT_CLIENT_ID = ${{ secrets.BOT_CLIENT_ID }} >> twitch-env.txt
            echo BOT_SECRET = ${{ secrets.BOT_SECRET }} >> twitch-env.txt
            echo MODERATION_SECRET = ${{ secrets.MODERATION_SECRET }} >> twitch-env.txt
            echo MODERATION_CLIENT_ID = ${{ secrets.MODERATION_CLIENT_ID }} >> twitch-env.txt
            echo ${{ secrets.SSH_PASSWORD }} | sudo -S docker stop twitch-bot-app
            echo ${{ secrets.SSH_PASSWORD }} | sudo -S docker compose pull twitch-bot-app
            echo ${{ secrets.SSH_PASSWORD }} | sudo -S docker compose --env-file twitch-env.txt up -d twitch-bot-app
            echo ${{ secrets.SSH_PASSWORD }} | sudo -S docker ps -a  
            rm twitch-env.txt
    
